*.docx
*.xlsx
.DS_Store
src/nbproject
src/db_connection.ini
test.sql
*.ini
src/db_connection.ini
src/THUMB_DESTINATION
src/ORIGINAL_IMAGE_DESTIONATION
src/IMAGE_DESTIONATION
src/db_connection.ini
src/Pictures
